@import '~calcite-web/dist/css/calcite-web.min.css';

body {
    background: #031A39;
}

.text-theme-color-blue {
    color: #156AA4
}

.text-theme-color-orange {
    color: #FF8000
}

#root .esri-widget--button {
    /* filter: invert(1);
     */

    background: #031A39;
    color: #FF8000;
}

.cursor-pointer {
    cursor: pointer;
}

#root .esri-attribution__sources {
    display: none;
}

#root .esri-ui .esri-attribution {
    display: none;
}